
@{
    ViewBag.Title = "_UserLayoutPage";
}

<!DOCTYPE html>
<html>
<head>
    <title>Travel Guide</title>
    <meta name="viewport" content="width=device-width, initial-scale = 1" />
    <meta charset="utf-8" />

    <!--CSS link-->
    <link rel="stylesheet" href="~/Styles/user_css/fontawesome.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Styles/user_css/_user.css" />
    <link rel="stylesheet" href="~/Styles/user_css/jquery-ui.css" />
    <link rel="stylesheet" href="~/Styles/css/stripe.css" />

    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>
<body>
    <header class="bg-light">
        <div class="pt-2" style="width: 100px; margin:0 auto; ">
            <img src="~/Image/logo.png" width=100% />
        </div>
        <nav>
            <div class="d-flex justify-content-center align-content-baseline">
                <p>
                    <a href="@Url.Action("Index", "User")">Home</a>
                </p>
                <p>
                    <a href="@Url.Action("Packages", "User")">Shopping</a>
                </p>
            </div>
        </nav>
    </header>

    <div>
        @RenderBody()
    </div>

    <footer class="bg-dark container" style="max-width: 100%">
        <div class="text-light d-flex justify-content-center">
            <p class="p-2 mb-0">AN TOÀN HỆ THỐNG THÔNG TIN - NHUNG & TRÂM</p>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @RenderSection("stripe", required: false)
</body>
</html>