@model IEnumerable<TravelWebsite.Models.Package>
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_UserLayoutPage.cshtml";
}

@section stripe {
    <script src="https://js.stripe.com/v3/"></script>
    <script>
        // Create a Stripe client.
        var stripe = Stripe('pk_test_51HHZalIRpf7rAmeBB00qM8ubZu8MEfniisH6Hwl7oOKRX72OSZgyInoZPB7AXpUkSgYDnJq7EOinNmcqF5xPXO2O00lhvzpTjW');

        // Create an instance of Elements.
        var elements = stripe.elements();

        // Custom styling can be passed to options when creating an Element.
        // (Note that this demo uses a wider set of styles than the guide below.)
        var style = {
            base: {
                color: '#32325d',
                fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
                fontSmoothing: 'antialiased',
                fontSize: '16px',
                '::placeholder': {
                    color: '#aab7c4'
                }
            },
            invalid: {
                color: '#fa755a',
                iconColor: '#fa755a'
            }
        };

        // Create an instance of the card Element.
        var card = elements.create('card', {
        });

        // Add an instance of the card Element into the `card-element` <div>.
        card.mount('#card-element');

        // Handle real-time validation errors from the card Element.
        card.on('change', function (event) {
            var displayError = document.getElementById('card-errors');
            if (event.error) {
                displayError.textContent = event.error.message;
            } else {
                displayError.textContent = '';
            }
        });

        // Handle form submission.
        var form = document.getElementById('payment-form');
        form.addEventListener('submit', function (event) {
            event.preventDefault();

            stripe.createToken(card).then(function (result) {
                if (result.error) {
                    // Inform the user if there was an error.
                    var errorElement = document.getElementById('card-errors');
                    errorElement.textContent = result.error.message;
                } else {
                    // Send the token to your server.
                    stripeTokenHandler(result.token);
                }
            });
        });

        // Submit the form with the token ID.
        function stripeTokenHandler(token) {
            // Insert the token ID into the form so it gets submitted to the server
            var form = document.getElementById('payment-form');
            var hiddenInput = document.createElement('input');
            hiddenInput.setAttribute('type', 'hidden');
            hiddenInput.setAttribute('name', 'stripeToken');
            hiddenInput.setAttribute('value', token.id);
            form.appendChild(hiddenInput);

            // Submit the form
            form.submit();
        }
    </script>
}

<section class="container">
    @foreach (var item in Model)
    {
        string price = ((@item.Price) / 1000).ToString() + ".000";
        var date = @item.Depart.ToString("yyyy-MM-dd");

        <div class="row py-5" style="font-size: 15px">
            <!--  Tour details -->
            <div class="col-md-7" style="font-size: 15px; padding: 0 3rem">
                <div class="ticket-title d-flex justify-content-between align-items-baseline">
                    <div class="d-flex justify-content-between align-items-center">
                        <h6 class="py-3 font-weight-bold">Tickets</h6>
                        <p class="text-secondary ml-2" style="font-size: 11px;">Kiểm tra thông tin</p>
                    </div>
                    <a href="/User/Packages" style="font-size: 11px;"><i class="fas fa-pen mr-2"></i>Thay đổi chuyến đi</a>
                </div>
                <div class="row ticket" width="100%">
                    <div class="col-md-5">
                        <div class="text-secondary font-weight-bold d-flex justify-content-between" style="font-size: 12px;">
                            <p class="mb-2">FROM</p>
                            <p class="mb-2">TO</p>
                        </div>
                        <div class="text-dark font-weight-bold d-flex justify-content-between">
                            <p>HCM</p>
                            <span>- <i class="fas fa-plane mx-1" style="color: #3995F0"></i> -</span>
                            <p class="text-uppercase">@item.Destination</p>
                        </div>
                        <div>
                            <p class="text-secondary font-weight-bold text-uppercase mb-2" style="font-size: 12px;">flight</p>
                            <p class="text-dark"><span>NT</span>@item.ID</p>
                        </div>
                    </div>

                    <div class="col-md-7 py-2">
                        <div class="d-flex justify-content-end">
                            <div style="width: 88px">
                                <img src="~/Image/VNAire.png" width="100%" />
                            </div>
                        </div>
                        <div class="d-flex font-weight-bold align-items-center">
                            <p class="text-secondary d-flex text-uppercase mr-2" style="font-size: 10px;">date</p>
                            <p style="font-size: 14px">@date</p>
                        </div>
                        <div class="text-secondary font-weight-bold d-flex text-uppercase" style="font-size: 10px;">
                            <p class="mb-2 mr-5">class</p>
                            <p class="text-left mb-2 ml-5">travelers</p>
                        </div>
                        <div class="text-dark font-weight-bold d-flex text-uppercase" style="font-size: 12px;">
                            <p class="mb-2 mr-5">economic</p>
                            <p class="text-left mb-2 ml-3">01 adult</p>
                        </div>
                    </div>
                </div>

            </div>

            <!-- Order Sumary -->
            <div class="col-md-5 px-5">
                <div class="order-sumary">
                    <h6 class="py-3 font-weight-bold">Thanh toán</h6>
                    <div class="text-secondary d-flex justify-content-between">
                        <p>Giá tour</p>
                        <p class="text-right">@price</p>
                    </div>
                    <div class="d-flex justify-content-between pt-3" style="border-top: 1px solid #f5f5f5">
                        <p>Tổng cộng</p>
                        <p>@price</p>
                    </div>
                </div>

                <div class="payment-details mt-4">
                    <h6 class="py-3 font-weight-bold">Thông tin thanh toán</h6>
                    <form action="/Cart/Create/@item.ID" method="post" id="payment-form">
                        <div class="form-group">
                            <input type="text" name="cardName" class="form-control" id="card-name" placeholder="Chủ tài khoản">
                        </div>
                        <div class="form-group">
                            <input type="email" name="email" class="form-control" id="email" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <input type="tel" name="phone" class="form-control" id="phone" placeholder="Số điện thoại">
                        </div>
                        <div class="form-group">
                            <label for="card-element">
                                Số tài khoản
                            </label>
                            <div id="card-element" width="100%">
                                <!-- A Stripe Element will be inserted here. -->
                            </div>

                            <!-- Used to display form errors. -->
                            <div id="card-errors" role="alert" class="mt-1" style="color:red; font-size: 12px;">
                            </div>
                        </div>
                        <div>
                            <button class="btn btn-primary mt-3" type="submit" style="width: 100%">Thanh toán</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    }
</section>